<h1> Lets add some plants to your garden! </h1>
<h3> Don't leave any fields empty, or you'll upset Nosferatu! </h3>
<br>
<form action="/plants" method="post">

<label>Plant Name:</label>
<input id="name" type="text" name="name" ><br><br>
<label>Plant Info:</label>
<input id="info" type="textarea" name="info">

<br><br>  <input type="submit" value="Add plant!">
</form>