
<h1>Sign Up Below:</h1><br>
<h3>Be sure to fill all fields, or else you get a talking to from Nosferatu!</h3>
<br>
<form action="/signup" method="post">
<label>Your Name:</label>
<input id="name" type="text" name="name"><br><br>
<label>Street Address:</label>
<input id="address" type="text" name="address"><br><br>
<label>Your Email:</label>
<input id="email" type="text" name="email"> <br><br>
<label>Password</label>
<input id="password" type="password" name="password"><br><br>

  <input type="submit" value="Sign Up">
</form>