<div class="container">
<header>
</header>
<div class="col-md-8 col-md-offset-2">
<h2>CommunityGardens Homepage</h2>

<div class="content">
    <p><b>Welcome to CommunityGardens!</b></p><br>
    <p>This site lets you keep track of your own personal garden, and see what plants
        your neighbors have!<br> You can add a description to each plant you upload, so if
            you're forgetful and want a quick way to remember how often a plant needs to be watered-
            your CommunityGardens account will be a great way to keep track!</p>
</div>



<div class="sidebar">
<center>
<h3>Please sign-in or sign-up to get started:</h3>
    
<a href="/signup">|| Create an account ||</a>
<br><br>
<a href="/login"> || Sign In to Existing account || </a>
<br><br>
</center>
</div>

</div>
</div>
